<div class="education-section py-5">
  <div class="container">
    <div class="text-center mb-5 animate__animated animate__fadeInDown">
      <h2 class="display-4 mt-5 fw-bold">My <span class="text-primary">Education</span></h2>
      <p class="lead">Academic journey and qualifications</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="timeline">

          <div class="timeline-item animate__animated animate__fadeInLeft">
            <div class="timeline-badge bg-info"></div>
            <div class="timeline-card">
              <div class="timeline-card-header d-flex justify-content-between">
                <h5 class="mb-1">Bachelor in Software Engineering</h5>
                <span class="badge bg-info">2022-Present</span>
              </div>
              <div class="timeline-card-body">
                <a href="https://pucit.edu.pk" class="text-info mb-3" target="_blank">Punjab University College of Computing and Engineering Technology</a>
              <p>Passionate Mern Stack ,Next JS developer .</p>
                <div class="d-flex align-items-center">
                  <i class="fas fa-graduation-cap me-2 text-info"></i>
                  <span >CGPA: 3.74/4.0</span>
                </div>
              </div>
            </div>
          </div>


          <div class="timeline-item animate__animated animate__fadeInRight">
            <div class="timeline-badge bg-success"></div>
            <div class="timeline-card">
              <div class="timeline-card-header d-flex justify-content-between">
                <h5 class="mb-1">Professional Development</h5>
                <span class="badge bg-success">Dec 2024- Feb 2025</span>
              </div>
              <div class="timeline-card-body">
                 <a href="https://www.amalacademy.org/" class="text-success mb-3" target="_blank">Amal Fellowship- Stanford University & Pepsico</a>
                <p class="mb-3">It was a wonderful experience .During 3 months, we had a great exposure of professional environment</p>
                <div class="d-flex align-items-center">
                  <i class="fas fa-graduation-cap me-2 text-success"></i>
                  <span>Grade A+</span>
                </div>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </div>
</div>