<div class="hero-section">


  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <h1 class="hero-name animate__animated animate__fadeInDown">
          Hi, I'm <br> Muhammad Shahmeer
        </h1>
        <div class="text-cycle animate__animated animate__fadeInUp" style="animation-delay: 0.3s;">
          <span>Passionate Software Engineer</span>
          <span>Full Stack Web Developer</span>
          <span>AI/ML Enthusiast</span>
          <span>Open Source Contributor</span>
        </div>
        <div class="animate__animated animate__fadeInUp" style="animation-delay: 0.6s;">
          <a class="btn btn-gradient btn-lg me-3" data-section="projects" data-path="projects">View My Work</a>
          <a class="btn btn-outline-secondary btn-lg" data-section="contact" data-path="contact">Contact Me</a>
        </div>
      </div>


      <div class="col-lg-6 d-none d-lg-block animate__animated animate__fadeIn" style="animation-delay: 0.9s;">

<div class="tech-icons-background">
   
  <img src="/static/assets/mongodb.png" class="tech-icon" alt="MongoDB">
  <img src="/static/assets/python.png" class="tech-icon" alt="Python">
  <img src="/static/assets/react.png" class="tech-icon" alt="React">
  <img src="/static/assets/docker.png" class="tech-icon" alt="Docker">
  <img src="/static/assets/nodejs.png" class="tech-icon" alt="Node.js">
  

</div>


      </div>
    </div>
  </div>
</div>
